.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 800px) {
  .App-main {
    flex-direction: column;
  }
}
